.std
result

# nixago: ignore-linked-files
/cog.toml
/lefthook.yml
/.conform.yaml
/treefmt.toml
adrgen.config.yml
lefthook.yml
.editorconfig
.conform.yaml
treefmt.toml

# nixago-auto-created: mdbook-build-folder
docs/build